# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#VS Files
*.vcxproj.user
*.sdf
*.suo
*.opensdf

#User files
Plugin/x64/Debug
Plugin/x64/Release
Plugin/win32/Debug
Plugin/win32/Release

Wrapper/x64/Debug
Wrapper/x64/Release
Wrapper/win32/Debug
Wrapper/win32/Release

Release-VLC20-x86
Release-VLC20-x64
Release-VLC2X-x86
Release-VLC2X-x64

ipch

VSP-*.7z

